.border{
    border-style: dotted;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.radius{
    border-radius: 5px
}

.selected-component{
    border-style: solid;
    border-color: rgb(19, 185, 27)
}
.cursor{
    cursor: pointer;
}


.padding-rule{
    padding: 30px
}